@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "";
}

<div class="container col-md-12 offset-md-0">
    <div class="col-9 col-lg-5 col-md-7 mx-auto">
        @using (Html.BeginForm("Index", "Recipe", FormMethod.Get))
        {
            <div class="input-group mt-5 mb-4 w-100">
                <input name="search" type="text" placeholder="Search" class="form-control text-center">
                <button class="btn btn-primary rounded-0 rounded-end" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </button>
            </div>
        }
    </div>
    
    <div id="pnlRecipesContainer">
        <partial name="~/Views/Recipe/RecipeContainer.cshtml" model="Model" />
    </div>
</div>